body {
	background-image:url(./images/bakubackground1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:;

}
#bck1 {

}
#pl {
	text-align:center;
	margin-top:470px;
	color:yellow;
	background-color:gold;
	padding:15px;
	display:inline-block;
	margin-left:830px;
    border-radius:5%;
    transition:1s;
    font-size:25px;
    text-decoration:none;

}
#pl:hover {
   border-radius:30%;
   transition:1s;
   background-color:red;
   text-decoration:none;

}