body {
	background-image:url(./images/bakubackground1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:;

}
#bck1 {

}
#pl {
	text-align:center;
	margin-top:470px;
	color:yellow;
	
}