#image {
	background-image:url(../images/bakubackground2.png);
	background-repeat:no-repeat;
	background-position: center;
    background-size: cover;
    position:relative;
    height:930px;
    width:1600px;
    display:inline-block;
}
p {
	color: blue;
}
body {
	background-color: gold;
}
#END {
	background-color:blue;
	padding:20px;
	border-radius:5%;
	text-decoration:none;
	transition:1s;
	color:red;
}
#end {
	transform:translate(100px, -850px);
	display:inline-block;
}
#END:hover {
   border-radius:30%;
   transition:1s;
   background-color:red;
   text-decoration:none;
   color:blue;
}
#REAL{
	transform:translate(-30px, -750px);
	display:inline-block;
}
#real{
	background-color:blue;
	padding:20px;
	border-radius:5%;
	text-decoration:none;
	transition:1s;
	color:red;
	animation-name:animacia;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	
}
#real:hover {
   border-radius:30%;
   transition:1s;
   background-color:red;
   text-decoration:none;
   color:blue;
   }

   @keyframes animacia {
   	0%{
   		background-color:red;
   	}
   	25%{
   		background-color:blue;
 	}
 	50%{
 		background-color:green;
 	}
 	75%{
 		background-color:purple;
 	}
 	100%{
 		background-color: orange;
 	}
   }
   #car {
   	width:400px;
   	height:250px;
   	display:inline-block;
   	position:absolute;
   	transform:translate(900px, 450px);
   	animation-name:caranimation;
   	animation-duration: 9s;

   }
  
   @keyframes caranimation {
   	0%{
       transform:translate(-400px, 800px);
   	}
   	25%{
       transform:translate(200px, 750px);
   	}
   	50%{
       transform:translate(600px, 680px);
   	}
   	75%{
       transform:translate(750px, 500px);
   	}
   	100%{
       transform:translate(900px, 450px);
   	}
   }
   #crash{
   	transform:translate(900px, 450px);
   	animation-name:crashanimation;
   	animation-duration:3s;
   	opacity:0%;
   	animation-delay:7.5s;
   	display:inline-block;
   	position:absolute;
   }
   @keyframes crashanimation{
   	0%{
   		opacity:0%
   	}
   	50%{
   		opacity:100%;
   	}
   	100%{
   		opacity:0%;
   	}
   }
   #stupid{
   	display:inline-block;
   	position:absolute;
   	transform:translate(900px, 400px);
   	opacity:0%;
   	animation-name:stupidanimation;
   	animation-duration:6s;
   	animation-delay:9s;
   	color:green;
   	background-color:blue;
   }
   @keyframes stupidanimation{
   	0%{
   		opacity:0%
   	}
   	50%{
   		opacity:100%;
   	}
   	100%{
   		opacity:0%;
   	}
   }
   